<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 配置操作业务表的sql映射文件，根元素标签名为mapper  -->
<mapper namespace="org.mybatis.dao.HouseMapper">
	
	
	<!-- insert语句映射 -->
	<insert id="add" parameterType="House">
		insert into house(houseAddress,typeId,userId,areaID,housePrice,houseArea,date,info,imagesLink)
		value(#{houseAddress},#{typeId},#{userId},#{areaID},#{housePrice},#{houseArea},#{date},#{info},#{imagesLink})
	</insert>
	
	<!-- update语句映射 -->
	<update id="update" parameterType="House">
		update house set houseAddress=#{houseAddress},typeId=#{typeId},userId=#{userId},areaID=#{areaID},housePrice=#{housePrice},houseArea=#{houseArea},date=#{date},info=#{info},imagesLink=#{imagesLink}
		where 1=1
		<if test="houseId!=null">and houseId=#{houseId}</if>
		<!-- <if test="houseAddress!=null">and houseAddress=#{houseAddress}</if>
		<if test="typeId!=null">and typeId=#{typeId}</if>
		<if test="userId!=null">and userId=#{userId}</if>
		<if test="areaID!=null">and areaID=#{areaID}</if>
		<if test="housePrice!=null">and housePrice=#{housePrice}</if>
		<if test="houseArea!=null">and houseArea=#{houseArea}</if>
		<if test="date!=null">and date=#{date}</if> -->
		
		<!-- update sm_user set userName=#{userName},userPhone=#{userPhone},province=#{province},city=#{city},area=#{area},
		houseAddress=#{houseAddress},typeName=#{typeName},housePrice=#{housePrice},houseArea=#{houseArea}
		from house h inner join user u on h.userId=u.userId
		inner join type t on h.typeId=t.typeId
		inner join area a on h.areaID=a.areaID
		inner join city c on c.`cityID`=a.`cityID`
		inner join province p on p.provinceId=c.provinceId
		where 1=1
		<if test="province!=null">and province=#{province}</if>
		<if test="city!=null">and city=#{city}</if>
		<if test="area!=null">and area=#{area}</if>
		<if test="houseAddress!=null">and houseAddress=#{houseAddress}</if>
		<if test="typeName!=null">and typeName=#{typeName}</if>
		<if test="housePrice!=null">and housePrice=#{housePrice}</if>
		<if test="houseArea!=null">and houseArea=#{houseArea}</if> -->
	</update>
	
	<!-- delete 语句映射 -->
	<delete id="delete" parameterType="House">
		delete from house where 1=1
		<if test="houseId!=null">
			and houseId=#{houseId}
		</if>
		
	</delete>
	
	<!-- 模糊查询 -->
	
	<!-- <select id="getSelectLike" resultType="House" parameterType="java.lang.String">
select * from house h INNER JOIN type t
ON h.typeId=t.typeId
where t.typeName like "%#{typeName}}%"
	</select> -->
	
	<select id="getSelectLike" resultType="java.lang.String" resultMap="selectUserByHouse">
	<!-- select * from house where houseAddress like concat('%',#{houseAddress},'%') -->
	
	SELECT
	h.*, u.*, t.*, a.*, c.*, p.*
	FROM
		house h
	INNER JOIN USER u ON h.userId = u.userId
	INNER JOIN type t ON h.typeId = t.typeId
	INNER JOIN area a ON h.areaID = a.areaID
	INNER JOIN city c ON c.`cityID` = a.`cityID`
	INNER JOIN province p ON p.provinceId = c.provinceId
	WHERE
		CONCAT(
			houseAddress,
			typeName,
			area,
			info,
			houseArea
		) LIKE concat('%',#{houseAddress},'%')
		
	</select>
	
	<select id="getHouseListByArea" parameterType="org.mybatis.entity.SelectTemp" resultMap="selectUserByHouse">		
		select h.*,u.*,t.*,a.*,c.*,p.*
		from house h inner join user u on h.userId=u.userId
					 inner join type t on h.typeId=t.typeId
					 inner join area a on h.areaID=a.areaID
					 inner join city c on c.`cityID`=a.`cityID`
					 inner join province p on p.provinceId=c.provinceId
		where 1=1
		<if test='areaName==null'>and 2=2</if>
		<if test='areaName!=null'>and a.area=#{areaName}</if>
		<if test='minPrice==null'>and 2=2</if>
		<if test='minPrice!=null'>and h.housePrice &gt;= #{minPrice}</if>
		<if test='maxPrice==null'>and 2=2</if>
		<if test='maxPrice!=null'>and h.housePrice &lt; #{maxPrice}</if>
		<if test='minHouseArea==null'>and 2=2</if>
		<if test='minHouseArea!=null'>and left(h.houseArea,2) &gt;= #{minHouseArea}</if>
		<if test='maxHouseArea==null'>and 2=2</if>
		<if test='maxHouseArea!=null'>and left(h.houseArea,2) &lt; #{maxHouseArea}</if>
		<if test='typeName==null'>and 2=2</if>
		<if test='typeName=="others"'>and t.typeName not in('一室一厅','一室两厅','两室一厅','两室两厅','三室一厅','三室两厅','四室一厅','四室两厅','四室三厅')</if>
		<if test='typeName!=null and typeName!="others"'>and t.typeName like CONCAT('%',#{typeName},'%')</if>
		<!-- <if test='price!=null'>and h.housePrice &gt;= subString(#{price},'-',1)</if> -->
		<!-- <where>
			<choose>
				<when test="areaName=='不限'.toString()">1=1</when>
				<when test='areaName!="不限"'>a.area=#{areaName}</when>
				<when test="price=='不限'.toString()">and 1=1</when>
				<when test='price!="不限"'>
				and a.housePrice &gt;=substring(#{price},'-',1) and a.housePrice &lt;=substring(#{price},'-',-1)
				</when>
			</choose>
		</where>					 -->
		
		
		<!-- <if test="typeName!=null">and typeName=#{typeName}</if>
		<if test="housePrice!=''">and housePrice=#{housePrice}</if>
		<if test="houseArea!=null">and houseArea=#{houseArea}</if> -->
	</select>
	
	<!-- 根据房屋参数查询 -->
	<select id="getHouseListByHouseParam" parameterType="House" resultMap="selectUserByHouse">		
		select h.*,u.*,t.*,a.*,c.*,p.*
		from house h inner join user u on h.userId=u.userId
					 inner join type t on h.typeId=t.typeId
					 inner join area a on h.areaID=a.areaID
					 inner join city c on c.`cityID`=a.`cityID`
					 inner join province p on p.provinceId=c.provinceId
		where 1=1		
		<if test="#{areaID}!=null">and a.areaID=#{areaID}</if>
		<!-- <if test="typeName!=null">and typeName=#{typeName}</if>
		<if test="housePrice!=''">and housePrice=#{housePrice}</if>
		<if test="houseArea!=null">and houseArea=#{houseArea}</if> -->
	</select>
	
	<!-- select用户列表 -->
	<select id="getHouseList" resultType="House" resultMap="selectUserByHouse">
		<!-- select h.*,u.userName,u.userPhone,t.typeName
		from house h inner join user u on h.userId=u.userId
		inner join type t on h.typeId=t.typeId
		inner join area a on h.areaID=a.areaID -->
		select h.*,u.*,t.*,a.*,c.*,p.*
		from house h inner join user u on h.userId=u.userId
					 inner join type t on h.typeId=t.typeId
					 inner join area a on h.areaID=a.areaID
					 inner join city c on c.`cityID`=a.`cityID`
					 inner join province p on p.provinceId=c.provinceId
	</select>
	<!-- house==user 多对一     house==type 多对一       house==区县   多对一   -->
	<resultMap type="House" id="selectUserByHouse">
		<result property="houseId" column="houseId"/>
		<result property="info" column="info"/>
		<result property="imagesLink" column="imagesLink"/>
		<result property="houseAddress" column="houseAddress"/>
		<result property="typeId" column="typeId"/>
		<result property="userId" column="userId"/>
		<result property="areaID" column="areaID"/>
		<result property="housePrice" column="housePrice"/>
		<result property="houseArea" column="houseArea"/>
		<result property="date" column="date"/>
		<association property="user" javaType="User">
			<result property="userId" column="userId"/>
			<result property="userName" column="userName"/>
			<result property="userPassword" column="userPassword"/>
			<result property="userGender" column="userGender"/>
			<result property="userAddress" column="userAddress"/>
			<result property="userPhone" column="userPhone"/>
		</association>
		<association property="type" javaType="Type">
			<result property="typeId" column="typeId"/>
			<result property="typeName" column="typeName"/>
		</association>
		<!-- 区县==市  多对一 -->
		<association property="area" javaType="Area">
			<result property="id" column="id"/>
			<result property="areaID" column="areaID"/>
			<result property="area" column="area"/>
			<result property="cityID" column="cityID"/>
			<association property="city" javaType="City">
				<result property="id" column="id"/>
				<result property="cityID" column="cityID"/>
				<result property="city" column="city"/>
				<result property="provinceId" column="provinceId"/>
				<association property="province" javaType="Province">
					<result property="id" column="id"/>
					<result property="province" column="province"/>
					<result property="provinceId" column="provinceId"/>
				</association>
			</association>			
		</association>			
	</resultMap>
	
	
	

	
	

	
	
</mapper>